* {
  box-sizing: border-box;
}
body {
  background-color: rgb(229, 233, 244);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  max-width: 500px;
  background-color: rgb(229, 233, 244);
  padding: 40px;
}

.container {
  background-color: rgb(62, 126, 184);
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 40px;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.notification_container,
.search_container {
  margin-bottom: 40px;
}

.notification_container {
  display: flex;
  justify-content: space-between;
}

.greeting {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.date {
  font-size: 14px;
  line-height: 12px;
  opacity: 0.7;
}

.notification_icon_container,
.search_form,
.search_input,
.feeling_emojy_wrapper {
  background-color: rgb(82, 140, 192);
  border-radius: 11px;
}

.notification_icon_container,
.feeling_emojy_wrapper {
  padding: 16px;
  padding-bottom: 14px;
  cursor: pointer;
}

.notifications_icon {
  max-width: 18px;
  margin-top: 1px;
}

/* .search_form {
    background-image: url(../public/assets/searchIcon.png);
} */

.search_input {
  width: 100%;
  font-size: 14px;
  border: 1px solid rgb(82, 140, 192);
  padding: 16px;
  padding-left: 44px;
  color: #ffffff;
  background-image: url(../public/assets/search_icon.png);
  background-repeat: no-repeat;
  background-position: 16px 17px;
  background-size: 18px;
}

.search_input::placeholder,
.search_input::-webkit-input-placeholder {
  font-weight: bold;
  color: #ffffff;
}

.feelings_container_header {
  display: flex;
  justify-content: space-between;
}
.two_dotes {
  font-size: 18px;
  line-height: 16px;
  font-size: 18px;
  line-height: 16px;
}

.see_more_feelings_icon {
  color: #ffffff;
}

.feelings_heading,
.exercises_section_title {
  font-size: 18px;
  margin-bottom: 24px;
}

.feeling_lists_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  padding-bottom: 32px;
}

.feeling_emoji {
  max-width: 24px;
}

.feeling {
  text-align: center;
}

/* When the feeling emojies are in two rows, this adds a spaces between the two*/
.feeling:first-of-type {
  margin-bottom: 12px;
}

.feeling_description {
  font-size: 14px;
}

.exercises_section {
  background-color: #ffffff;
  border-radius: 25px;
  color: #333333;
  transform: translateY(-40px);
  padding-bottom: 8px;
  background-image: url(../public/assets/bar.png);
  background-repeat: no-repeat;
  background-position: center 8px;
}

.exercises_section_heading {
  display: flex;
  justify-content: space-between;
}

.exercises_section_title,
.exercise_name {
  opacity: 0.8;
}

.exercise_wrapper {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.exercise_wrapper_with_shadow {
  box-shadow: 19px 59px 22px rgb(229 233 244 / 80%);
}

.exercise_icon_container {
  margin-right: 16px;
  padding: 16px;
  padding-bottom: 14px;
  border-radius: 11px;
}

.exercise_wrapper_bordered {
  border: 1.5px solid lightgray;
}

.heart_icon_container {
  background-color: rgb(226, 138, 96);
  padding-bottom: 14px;
}

.reader_icon_container {
  background-color: rgb(82, 140, 192);
}

.hidden_icon_container {
  background-color: rgb(232, 102, 127);
}

.hidden_exercise_wrapper {
  border: 1px solid lightgray;
}

.exercise_name {
  font-size: 18px;
  margin-bottom: 5px;
}

.exercise_numbers {
  color: #33333380;
}

.exercise_wrapper img {
  max-width: 18px;
}

.see_more_container {
  position: absolute;
  right: 16px;
}

.see_more {
  color: #33333380;
}

.app_footer {
  background-color: #ffffff;
  padding: 32px 40px 0;
  transform: translateY(-124px);
  border-radius: 25px;
}

.navigation_menu_lists {
  display: flex;
  justify-content: space-between;
  padding: 0 21px;
}

.menu img {
  max-width: 18px;
}

.active_menu {
  background-image: url('../public/assets/home_active.png');
  background-repeat: no-repeat;
  background-position: 2px 45px;
  padding: 0 21px 32px 9px;
}

@media (min-width: 450px) {
  .feeling_lists_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .feeling:first-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 1114px) {
  .app {
    margin-left: auto;
    margin-right: auto;
  }
}
